@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #D8D8D8;
    font-family: 'Roboto', sans-serif, monospace;
}

/* NAVBAR */

.navbar{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: rgb(30, 27, 44);
    padding: 30px 10%;
    max-height: 15%;
    width: 100%;
}

.nav-links li{
    display: inline-block;
    padding: 0 50px;
}

.nav-links li a{
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: white;
}

.nav-links li a:hover{
    color:red;
}

/* FRONT PAGE */

.front-page {
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 1);
    margin: 0 5%;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    padding-top: 80px;
    align-items: center;
}

.slider-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
}

.slider-body-show{
    opacity: 1;
    pointer-events: unset;
}

.img-background{
    height: 460px;
}

.info-container{
    font-size: 1.5rem;
    color: white;
}


/*SLIDER*/

.slider{
    cursor: pointer;
    padding: 30px 10px 30px 20px;
    border-radius: 10px 0 0 10px;
    transition: all 0.3s ease 0s;
    justify-self: end;
}

.slider:nth-child(1){
    border-radius: 0 10px 10px 0;
    padding: 30px 20px 30px 10px;
    justify-self: start;
}

.slider:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

/*RANKINGS*/

.ranking-banner{
    margin: 2% 5% 0 5%;
    padding: 40px;
    padding-bottom: 0;
    background-color: #09162C;
    color: white;
    border: none;
    border-radius: 20px 20px 0 0;
    border: 2px solid #222;
    box-shadow: 0 6px 10px 0 rgba(11, 11, 11, 1);

    display: flex;
    flex-direction: column;
}

.ranking-banner h1{
    padding-bottom: 20px;
}

.ranking-titles{
    display: flex;
    justify-content: flex-end;
}

.ranking-titles a{
    padding: 10px 5px;
    border: 2px solid #1b2347;
    border-bottom: 0;
    box-shadow: 5px 0 11px 0 #1b2347;
    transition: all 0.5s ease 0s;
    text-decoration: none;
    color: white;
}

.ranking-titles a:hover{
    box-shadow: 5px 0px 19px 5px;
    color: white;
}

.rankings {
    margin: 0 5% 2% 5%;
    background-color: white;
    border: 1px solid #222;
    box-shadow: 0 6px 10px 0 rgba(11, 11, 11, 1);
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #222;
}

.table thead{
    background-color: rgb(221, 221, 221);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    border: 1px solid black;
}

.table td, th{
    padding: 10px 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bolder;
}

#rank, #age{
    width: 100px;
}

#player{
    width: 400px;
}

#points, #titles{
    width: 150px;
}

#record, #grand-slams{
    width: 404px;
}

.table #hide{
    display: none;
}

@media only screen and (max-width: 625px) {

}


/*
a{
    background: #689f3f;
    text-decoration: none;
    padding: 1.2rem 1.5rem;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 20px;
}

#one{
    border: 0.2rem solid #222;
}
#two{
    outline-width: 0.2rem;
    outline-style: solid;
    outline-color: #222;
    outline: 0.2rem solid #222;
    outline-offset: 10px;
}
*/