@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    letter-spacing: 1px;
}

body{
    background-color: #D8D8D8;
    font-family: 'Roboto', sans-serif, monospace;
    padding-top: 80px;
}

/* NAVBAR */
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(30, 27, 44);
    height: 80px;
    width: 100%;
    z-index: 1;
    top: 0px;
}

.nav-links li{
    display: inline-block;
    padding: 0 50px;
}

.nav-links li a{
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: white;
}

.nav-links li a:hover{
    color:rgb(46, 211, 223);
}

/* FRONT PAGE */
.front-page {
    background: linear-gradient(to right, #051328, #113363);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 1);
    margin: 0 5%;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.slider-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
}

.slider-body-show{
    opacity: 1;
    pointer-events: unset;
}

.img-background{
    height: 460px;
}

.info-container{
    font-size: 1.5rem;
    color: white;
}


/*SLIDER*/

.slider{
    cursor: pointer;
    padding: 30px 10px 30px 20px;
    border-radius: 10px 0 0 10px;
    transition: all 0.3s ease 0s;
    justify-self: end;
}

.slider:nth-child(1){
    border-radius: 0 10px 10px 0;
    padding: 30px 20px 30px 10px;
    justify-self: start;
}

.slider:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

/*RANKINGS*/

.ranking-banner{
    margin: 2% 5% 0 5%;
    padding: 40px;
    padding-bottom: 0;
    background-color: #09162C;
    color: white;
    border: none;
    border-radius: 20px 20px 0 0;
    border: 2px solid #222;
    box-shadow: 0 6px 10px 0 rgba(11, 11, 11, 1);

    display: flex;
    flex-direction: column;
}

.titles{
    padding-bottom: 20px;
    display: none;
}

.table-title-show{
    display: flex;
}

.ranking-titles{
    display: flex;
    justify-content: flex-end;
}

.ranking-titles h3{
    padding: 10px 5px;
    border: 2px solid #1b2347;
    border-bottom: 0;
    box-shadow: 5px 0 11px 0 #1b2347;
    transition: all 0.5s ease 0s;
    text-decoration: none;
    color: white;
}

.ranking-titles h3:hover{
    box-shadow: 5px 0px 19px 5px;
    color: white;
    cursor: pointer;
}

.rankings {
    margin: 0 5% 2% 5%;
    background-color: white;
    border: 1px solid #222;
    box-shadow: 0 6px 10px 0 rgba(11, 11, 11, 1);

    max-height: 443px;
    overflow: auto;
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #222;
}

#table-body-men{
    max-height: 280px;
    overflow: auto;
}

.table thead{
    background-color: rgb(221, 221, 221);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    border: 1px solid black;

    position: sticky;
    top: 0;
}

.table td, th{
    padding: 10px 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
}

.table-body{
    display: none;
}

.table-body-show{
    display: table-row-group;
}

#rank, #height{
    min-width: 100px;
}

#player{
    min-width: 300px;
}

#points, #titles{
    width: 150px;
}

#pro-since{
    width: 200px;
}

#record{
    width: 404px;
}

.table #hide{
    display: none;
}


/*CALENDAR*/

.tournaments{
    margin: 2% 5%;
    border-radius: 20px;
    border: 1px solid black;
    color: white;
    background: #09162C;
}

.tournaments h1{
    padding: 2%;
}

.tournament-container{
    height: 200px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    align-items: center;
}

.tournament-arrow{
    margin-left: 5px;
    padding: 40px 0;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.tournament-arrow-right{
    margin-left: 0;
    margin-right: 5px;
}

.tournament-arrow:hover{
    background: rgb(47, 125, 161);
    color: white;
}

.tournament-list{
    scroll-behavior: auto;
    margin: 10px;
    overflow: hidden;

    display: flex;
}

.tournament-list-element{
    margin: 0 15px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(19, 112, 84);
    min-height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dots-glider{
    padding-bottom: 10px;
}

.dots-glider .glider-dot{
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 0;
    background: #fff;
    opacity: .2;
}

.dots-glider .glider-dot:hover{
    opacity: .5;
}

.dots-glider .glider-dot.active{
    opacity: 1;
}

@media only screen and (max-width: 625px) {

}


/*
#two{
    outline-width: 0.2rem;
    outline-style: solid;
    outline-color: #222;
    outline: 0.2rem solid #222;
    outline-offset: 10px;
}
*/